<%= provide(:title, "Welcome")%>
<h1>Welcome to Masterplan</h1>
  <p>
  <% if logged_in? %> 
    <%= link_to "Logout", logout_path, method:"delete" %> 
  <% else %>
    <%= link_to "Signup", signup_path %> or 
    <%= link_to "Log in", login_path %>
  <% end %>
  </p>
