<%= provide(:title, "Welcome")%>
<h1>Welcome to Masterplan</h1>
<p>
<% if logged_in %> 
<%= link_to "Signup", signup_path %> 
<% end %> or </p>
<% if logged_in %> 
<%= link_to "Signup", signup_path %> 
<%= if logged_in? link_to "Log in", login_path %></p>
