<%= provide(:title, "Welcome")%>
<h1>Welcome to Masterplan</h1>
<p>You can pretend to <%= link_to "signup", signup_path %> now!</p>
<p>Try to upload an image: <input type="file" accept="image/*" capture="camera"></p>